# Ambiente virtual
venv/
.venv/
env/

# Cache do Python
__pycache__/
*.py[cod]
*.pyo

# Distribuição / build
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/
*.suo
*.user

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log